<script>
var li = document.getElementById('li-play-game');
if (li) {
  li.setAttribute('class','active');
}

</script>

<div id = 'entireGame' class = 'game'>
  <h2>By Friend</h2>
  <p class = 'lead'>Enter your friend's birthday using the format mm-dd!<p>
<div id = "gameContainer1" class="game-container">
</div>
<div class ='button-block'>
  <button id = 'give-up-button'>Give Up</button>
</div>
  <script src="javascripts/game-by-name.js"></script>
</div>
